@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";
$bg-img: url('../../instructions/wallpaper.jpg');


body {
  background-color: black;
  color: brown;
  text-align: center;
  // margin-top: 100px;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  height: 300px;
  width: 300px;
}

#login-form-container {
  display: block;
  height: 100vh;
  width: 100vw;

}
#google-auth {
  display: block;
  margin: auto;
}

#navLogo {
  width: 50px;
  height: 50px;
}

#logo-image {
  display: flex;
}

#navBarDiv {
  background-color: black;
  border-bottom: 0.5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-style: solid;
  border-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
}

#search-bar-div {
  margin-top: 3%;
}

#view-order {
  margin-top: 3%;
}

#view-order:hover {
  color:#44D62C;
}

#home-nav {
  margin-top: 5%;
}

#home-nav:hover {
  color: #04d9ff
}



#create-order {
  margin-top: 2%;
}

#create-order:hover {
  color: #f69904;
}

#view {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 10%;
  max-width: 100%;
  max-height: 100%;
}

#cardContainer {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  background-color: white;
  margin: 1% 1% 5% 5%;
  box-shadow: 1px 1px 4px grey;
}

#loginHomeDiv {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

#ordersHome {
  margin-top: 30%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#createHome {
  margin-top: 5%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#revenueHome {
  margin-top: 5%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

#welcomeHome {
  font-size: 50px;
  color: white;
}

#form-container {
  margin-top: 10%;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#hr-order {
  color: black;
}

#revenuePageDiv {
  margin-left: auto;
  margin-right: auto;
  color: white;
}

#totalRevenue {
  margin-top: 20%;
}

#dateRangeTitle {
  margin-top: 10%;
  font-size: small;
}

#dateRangeInfo {
  margin-top: -3%;
  font-size: small;
}

#totalTipsTitle {
  margin-top: 10%;
  font-size: small;
}

#totalCallIn {
  font-size: small;
  margin-top: -3%;
}

#totalWalklIn {
  font-size: small;
  margin-top: -3%;
}

#paymentType {
  margin-top: 10%;
  font-size: small;

}

#cashPayments{
  font-size: small;
  margin-top: -3%;
}

#creditPayments {
  font-size: small;
  margin-top: -3%;
}

#mobilePayment {
  font-size: small;
  margin-top: -3%;
}

css-login
#sign-in-logo {
  margin-top: 10%;
  margin-bottom: 5%;
}

#google-auth {
  background-color: #44D62C;
  color: white;
  border: none;
}

.addItemBtn {
  position: absolute;
  top: 10%;
  left: 42%;
}

.goToPaymentBtn {
  position: absolute;
  top: 10%;
  left: 50%;
}
